/*====================================== USERCHROME TOGGLE PART =================================================*/

/* Collapse the sidebar but still show it */
:root[titlepreface="᠎"] #sidebar-box{
	min-width: 36px !important;
	width: 36px !important;
	transition: width 100ms ease !important;
}

:root:not([titlepreface="᠎"]) #sidebar-box{
	min-width: 36px !important;
	transition: width 100ms ease !important;
}

/* Hide the splitter when sidebar is collapsed but still visible */
:root[titlepreface="᠎"] #sidebar-splitter{
	/*display: none !important;*/
}

/*====================================== NOT THIS STUFF =================================================*/

/* Hide the Sideberry Header */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

/* Hide the sidebar splitter's border */
#sidebar-splitter{
	border: none !important;
	background-color: var(--toolbar-bgcolor) !important;
	width: 3px !important;
}



/* Round the top left corner of websites */
:root:not([sizemode="fullscreen"]) #appcontent browser{
	border-radius: 8px 8px 0px 0px !important;
}

/*====================================== Replace icons =================================================*/
