	/* Move Application Menu Button, Overflow Button & Extensions Button to the left */
	#PanelUI-button {
		width: 78px;
		padding: 0px 0px 0px 0px !important;
		padding-left: 2px !important;
		order: -2 !important;
		
		/* Position absolute it to the right of the UserChromeToggle extension(sidebar button) */
		position: absolute;
		left: 35px !important;
		top: 4px !important;
	}
	#PanelUI-menu-button{
		width: 78px !important;
		padding: 0px 2px 0px 2px !important;
		
		list-style-image: url(chrome://branding/content/icon128.png) !important;
	}
	#PanelUI-menu-button > label:nth-child(2){ /* This is the "Floorp" text */
		display: flex !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		
		border-radius: 0px 4px 4px 0px !important; /* Fix hover effect having several rounded corners */
		transition: background-color 1s var(--animation-easing-function) !important; /* Fix hover effect not being timed correctly between icon and text */
	}
	#PanelUI-menu-button > stack:nth-child(1){ /* This is the icon itself */
		border-radius: 4px 0px 0px 4px !important; /* Fix hover effect having several rounded corners */
		transition: background-color 1s var(--animation-easing-function) !important;
	}

	#nav-bar-customization-target{
		/* Make space for the position absoluted application menu and the UserChromeToggle extension(sidebar button) */
		padding-left: 114px !important;
	}
	
	
	
	
	#unified-extensions-button{
		margin: 0px 2px 0px 2px !important;
		padding: 0px 0px 0px 0px !important;
	}
	/* No clue what this is */
	#PlacesChevron{
		display: none;
	}
	
	/* Offset the application menu popup */
	#appMenu-popup {
		margin-inline: -240px !important;
	}
	
	/* Offset the extensions menu popup */
	#unified-extensions-panel{
		margin-inline: -317px !important;
	}
	
	#downloadsPanel{
		margin-inline: -412px !important;
	}
	
	/* Offset the ublock origin menu popup
	#customizationui-widget-panel[viewId="PanelUI-webext-ublock0_raymondhill_net-BAV"]{
		margin-inline: -226px !important;
	}
	/* Offset the dark reader menu popup
	#customizationui-widget-panel[viewId="PanelUI-webext-addon_darkreader_org-BAV"]{
		margin-inline: -250px !important;
	}
	*/



	/* Replace DarkReader toolbar icon */
	#addon_darkreader_org-BAP > stack:nth-child(1) > image:nth-child(1){
		list-style-image: url('darkReader.svg') !important;
	}
	
	/* Replace uBlock Origin toolbar icon */
	#ublock0_raymondhill_net-BAP > stack:nth-child(1) > image:nth-child(1){
		list-style-image: url('adBlock.svg') !important;
	}
	
	/* Replace side bar toolbar icon */
	image.toolbarbutton-icon:nth-child(3){
		list-style-image: url('sideBar.svg') !important;
	}
	/* Replace UserChrome toggle extension toolbar icon */
	#userchrome-toggle_joolee_nl-BAP{
		list-style-image: url("chrome://browser/skin/menu.svg") !important;
	}
	#userchrome-toggle_joolee_nl-browser-action{
		padding-left: 0px !important;
		
		/* Position absolute it to the left so the application menu can go to the right of it */
		position: absolute;
		left: 2px !important;
		top: 4px !important;
	}
	
	
	
	
	/* Hide topbar bottom black border */
	#navigator-toolbox{
		border-bottom: none !important;
	}